includes:
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
	ignoreErrors:
	    # Ignoring inspection because a call to self::setUpDi is already ensuring that the properties are not null
		- '#^Cannot call method (get|dropTable|createTable|execute)\(\) on Phalcon\\(Di|Db\\Adapter\\Pdo)\|null.$#'